.main-sugestion {
    background-image: url('/assets/img/banner-jojo.jpg');
    background-size: cover;
    width: 100%;
    height: 50.5rem;
    margin-bottom: 1.2rem;

    .main-sugestion-meta {
        width: 36%;
        padding-top: 10rem;
        margin-left: 5rem;
    }
}