$font-stack: 'Roboto', sans-serif;
$white: #ffffff;
$primary-color: rgba(255, 255, 255, 0.9);
$secondary-color: rgba(255, 255, 255, 0.6);
$highlight-color: #70B5F9;
$bg-card: #1B2226;
$bg-color: #000000;
$input: #38434F;
$cover-img: url('https: //images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')
